<mat-card>
  <mat-card-title>Category List</mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let category of categories">
        <img mat-list-avatar src="{{category.giphyUrl}}" alt="{{category.name}}">
        <h3 mat-line>
          <a mat-button [routerLink]="['/category-edit', category.id]">{{category.name}}</a>
        </h3>
      </mat-list-item>
    </mat-list>
  </mat-card-content>

  <button mat-fab color="primary" [routerLink]="['/category-add']">Add</button>
</mat-card>